@{
    ViewBag.Title = "SaveRoute";
}

<h2>SaveRoute</h2>
<p>Saving the route <br />
    from server "@ViewBag.ip:@ViewBag.port" <br />
    at rate @ViewBag.rate times per second <br />
    for @ViewBag.limit seconds <br />
    into: "@ViewBag.filename"
</p>
<script language="javascript">
    var xmlDocument;
    var input = { ip: "@ViewBag.ip", port: "@ViewBag.port" };
    var myHandler = function () {
        $.get("../../../../../../Display/GetFlightInfo", input).done(function (xml) {
            var xmlDoc = $.parseXML(xml);
            var child = xmlDoc.getElementsByTagName("Location")[0];
            var node = xmlDocument.getElementsByTagName("Location")[0];
            node.appendChild(child);
            alert(new XMLSerializer().serializeToString(xmlDocument));
        })
    }

    function saveToFile() {
        var intervalTime = 1000 / @ViewBag.rate;
        $.get("../../../../../../Display/GetFlightInfo", input).done(function (xml) {
            xmlDocument = $.parseXML(xml);
            setInterval(myHandler, intervalTime);
            // SLEEP
            alert("Saved to file: @ViewBag.filename.");
            alert(new XMLSerializer().serializeToString(xmlDocument));
        });
    }

    saveToFile();
</script>